$media-xs: 600px;
$media-sm: 960px;
$media-md: 1280px;
$media-lg: 1920px;

$dark-text: #141313;
$light-text: #fafdf9;
$border-color: #b5b5b5;
$dark-bg: #141313;
$cyan-color: #98fcce;
$cyan-color2: #72fdda;

$font-neuzeit: "Neuzeit", "Roboto", sans-serif;
